$bodyRgb:rgb(93,27,74);
$gradientBody:linear-gradient(297deg, rgba(93,27,74,0.9979342078628326) 7%, rgba(0,0,4,1) 29%, rgba(2,0,80,1) 94%);
$navRgb:rgb(0,0,0);
$gradientNav:linear-gradient(283deg, rgba(0,0,0,0.9979342078628326) 11%, rgba(24,9,65,1) 75%, rgba(30,0,45,0.8746849081429446) 97%);
$title: white;
$titleRgbFondo:rgb(20,7,25);
$gradientTitle:linear-gradient(283deg, rgba(20,7,25,1) 4%, rgba(41,20,82,0.9979342078628326) 37%, rgba(3,5,23,1) 71%);
$btn:white;
$btnLink:black;
$btnHover:#7005b3;
$btnLinkHover:white;
$h2v2:white;
$h2v2Fondo:#100136;
$text:white;
$fondoServRgb:rgb(0,0,4);
$fondoGradientServ:linear-gradient(283deg, rgba(0,0,4,0.9979342078628326) 20%, rgba(23,9,65,1) 48%, rgba(0,0,0,0.9220063025210083) 75%);
$estiloh1v2:#eb05d1;
$citaFondo:#910982;
$citaFondoHover:#7005b3;
$input:white;
$inputHover:#910982;